<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<!-- Game Servlet -->
	<servlet>
		<servlet-name>Jumble</servlet-name>
		<servlet-class>joejava.games.servlets.JumbleServlet</servlet-class>
	</servlet>
  	<servlet-mapping>
  		<servlet-name>Jumble</servlet-name>
  		<url-pattern>/Jumble</url-pattern>	
  	</servlet-mapping>
  	
  	<!-- postgres -->
  	<resource-ref>
	 	<description>postgreSQL Datasource</description>
	 	<res-ref-name>jdbc/postgres</res-ref-name>
	 	<res-type>javax.sql.DataSource</res-type>
	 	<res-auth>Container</res-auth>
	</resource-ref>
</web-app>

